:root {
  --w: calc(0.74 * 93vw);
  --ph: calc(0.13 * 93vw);
  --p1: 180deg;
  --p2: 270deg;
  --p3: 0deg;
  --p4: 90deg;
}
body {
  font-family: "Arial", Helvetica, sans-serif;
  margin: auto;
}

button {
  font-size: 0.8em;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* MENU */
.menu {
  flex-basis: 5%;
}

.menu button {
  display: block;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

/* ABOUT */
.modal-header {
  margin-top: 2em;
  margin-left: 2em;
}

.modal-body {
  margin: 0 2em;
}

.modal h5,
.modal h6 {
  font-weight: bold;
}

.modal p,
.modal li {
  font-size: 0.8em;
}

/* HOME PAGE (specific to index.html */
.introduction h1 {
  text-align: center;
}

.introduction h6 {
  font-style: italic;
  margin-top: 1.5em;
  margin-bottom: 5em;
}

.player-name-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-game-button {
  margin-top: 5em;
}

/* GAME (specific to game.html)*/

/* cards */
.cards {
  width: calc(var(--w) / 15);
  padding: 0 2px;
  cursor: pointer;
}

#com-1 .cards,
#com-2 .cards,
#com-3 .cards {
  filter: brightness(0%);
  width: calc(100vh / 16);
}

.cards[title="selected"] {
  box-shadow: 0 0 10px 5px black;
}

.cards[title="unselected"] {
  box-shadow: none;
}

.game-play,
.introduction {
  margin: auto;
  width: 100%;
}

.introduction {
  height: 100vh;
  padding-top: 2em;
  padding-left: 10em;
  padding-right: 10em;
}

.board {
  position: relative;
  height: 100vh;
}

/* players */
.players {
  height: 100vh;
}

.player {
  height: var(--ph);
  transform-origin: calc(var(--ph) / 2) calc(var(--ph) / 2);
  box-sizing: border-box;
  padding: 0.5em;
}

.player-name {
  font-size: 1em;
}

.player:nth-child(1) {
  --xp: calc(0em - var(--w));
  transform: rotate(var(--p1)) translate(var(--xp), 0);
  width: var(--w);
  background-color: yellow;
}

.player:nth-child(2) {
  --xp: calc(-100vh + calc(2 * var(--ph)));
  --yp: calc(var(--w) + calc(1 * var(--ph)));
  transform: rotate(var(--p2)) translate(var(--xp), var(--yp));
  width: 100vh;
  background-color: skyblue;
}

.player:nth-child(3) {
  --yp: calc(100vh - calc(3 * var(--ph)));
  transform: rotate(var(--p3)) translate(var(--ph), var(--yp));
  width: var(--w);
  background-color: rgb(95, 255, 95);
}

.player:nth-child(4) {
  --xp: calc(0em - calc(3 * var(--ph)));
  transform: rotate(var(--p4)) translate(var(--xp), 0);
  width: 100vh;
  background-color: pink;
}

.player-name-and-pass-play-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-name {
  margin: 0;
}

.hand-container {
  margin: 0.5em 0;
  display: flex;
  justify-content: center;
}

.player button {
  margin-left: 0.5em;
}

.sort-buttons {
  text-align: right;
}

#com-1 button,
#com-2 button,
#com-3 button {
  visibility: hidden;
}

/* CENTER BOARD */
#center-board {
  --dw: var(--w);
  --dh: calc(100vh - calc(2 * var(--ph)));
  position: absolute;
  top: var(--ph);
  left: var(--ph);
  width: var(--dw);
  height: var(--dh);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#instructions-and-playing-pile {
  width: 80%;
}

#instructions {
  color: white;
  height: 10vh;
  font-style: italic;
  font-size: 1em;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}

#playing-pile-container {
  background-color: black;
  height: calc(0.7 * calc(90vh - calc(2 * var(--ph))));
  overflow: hidden;
}

#playing-pile-container > * {
  margin-top: 1em;
  background-color: maroon;
  height: calc(0.33 * calc(100vh - calc(2 * var(--ph))));
  border-radius: 10px;
}

.previous-turn,
.current-turn {
  display: flex;
  justify-content: center;
}

.previous-turn {
  align-items: flex-end;
}

.current-turn {
  position: relative;
  top: -75px;
  align-items: flex-start;
}
