img.cards {
  width: 6em;
  padding: 5px;
  cursor: pointer;
}

.cards[title="selected"] {
  box-shadow: 0 0 10px 1px rgb(11, 243, 11);
}

.cards[title="unselected"] {
  box-shadow: none;
}

.hand-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#instructions {
  background-color: yellow;
  font-size: 1.5em;
  font-weight: bold;
}

#playingPile {
  background-color: black;
  overflow: hidden;
}
