:root {
  --w: 70em;
  --h: var(--w);
  --ph: 11.5em;
  --p1: 180deg;
  --p2: 270deg;
  --p3: 0deg;
  --p4: 90deg;
}

body {
  margin: auto;
  width: var(--w);
  font-family: "Arial", Helvetica, sans-serif;
}

button {
  margin-left: 0.5em;
}

/* CARDS */
.cards {
  width: 70px;
  padding: 0 3px;
  cursor: pointer;
}

.cards[title="selected"] {
  box-shadow: 0 0 10px 5px black;
}

.cards[title="unselected"] {
  box-shadow: none;
}

/* BOARD */
.board {
  position: relative;
  width: var(--w);
  height: var(--h);
}

/* PLAYER  */
.player {
  width: calc(var(--w) - var(--ph));
  height: var(--ph);
  transform-origin: calc(var(--ph) / 2) calc(var(--ph) / 2);
  box-sizing: border-box;
  padding: 0.5em;
}

.player:nth-child(1) {
  --xp: calc(var(--ph) - var(--w));
  transform: rotate(var(--p1)) translate(var(--xp), 0);
  background-color: yellow;
}

.player:nth-child(2) {
  --xp: calc(calc(2 * var(--ph)) - var(--w));
  --yp: calc(var(--w) - var(--ph));
  transform: rotate(var(--p2)) translate(var(--xp), var(--yp));
  background-color: skyblue;
}

.player:nth-child(3) {
  --yp: calc(var(--w) - calc(3 * var(--ph)));
  transform: rotate(var(--p3)) translate(0, var(--yp));
  background-color: rgb(95, 255, 95);
}

.player:nth-child(4) {
  --xp: calc(0em - calc(3 * var(--ph)));
  transform: rotate(var(--p4)) translate(var(--xp), 0em);
  background-color: pink;
}

.player-name-and-pass-play-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.player-name {
  margin: 0;
}

.hand-container {
  margin: 0.5em 0;
  /* so that we can order cards */
  display: flex;
  justify-content: center;
}

.sort-buttons {
  text-align: right;
}

/* CENTER BOARD */
#center-board {
  --d: calc(var(--w) - calc(2 * var(--ph)));
  position: absolute;
  top: var(--ph);
  left: var(--ph);
  width: var(--d);
  height: var(--d);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#instructions-and-playing-pile {
  width: 80%;
}

#instructions {
  color: white;
  font-style: italic;
  font-size: 1.5em;
  background-color: grey;
  border-radius: 15px;
}

#playing-pile-container {
  background-color: black;
}

#playing-pile-container > * {
  margin-top: 2em;
  background-color: maroon;
  height: 150px;
  border-radius: 10px;
}

.previous-turn,
.current-turn {
  color: white;
  text-decoration: underline;
}
